<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.valdroide.thesportsbillboardinstitution">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TheSportsBillboardInstitutionApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- SECTION USER -->

        <activity android:name=".main_user.splash.ui.SplashActivity" />
        <activity
            android:name=".main_user.account.ui.AccountActivity"
            android:label="@string/title_activity_account">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valdroide.thesportsbillboardinstitution.main_user.navigation.with_submenu.ui.NavigationActivity" />
        </activity>
        <activity
            android:name="com.valdroide.thesportsbillboardinstitution.main_user.navigation.with_submenu.ui.NavigationActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.valdroide.thesportsbillboardinstitution.main_user.navigation.with_menu.ui.NavigationActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main_user.tab.ui.TabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valdroide.thesportsbillboardinstitution.main_user.navigation.with_submenu.ui.NavigationActivity" />
        </activity>

        <!-- SECTION ADMINISTRATOR -->

        <activity
            android:name=".main_adm.navigation.ui.NavigationAdmActivity"
            android:label="@string/title_activity_navigation_adm">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".main_adm.login.activity.TabLoginActivity"
            android:label="@string/login_title_tab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_adm.navigation.ui.NavigationAdmActivity" />
        </activity>
        <activity
            android:name=".main_adm.menu_submenu.ui.MenuSubMenuActivity"
            android:label="@string/menu_submenu_title_tab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_adm.navigation.ui.NavigationAdmActivity" />
        </activity>
        <activity
            android:name=".main_adm.account.ui.AccountAdmActivity"
            android:label="@string/account_title_tab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_adm.navigation.ui.NavigationAdmActivity" />
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".main_adm.team.activity.TabTeamActivity"
            android:label="@string/team_title_tab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_adm.navigation.ui.NavigationAdmActivity" />
        </activity>
        <activity
            android:name=".main_adm.player.activity.TabPlayerActivity"
            android:label="@string/player_title_tab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_adm.navigation.ui.NavigationAdmActivity" />
        </activity>
        <activity
            android:name=".main_adm.news.activity.TabNewsActivity"
            android:label="@string/news_title_tab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_adm.navigation.ui.NavigationAdmActivity" />
        </activity>
        <activity
            android:name=".main_adm.sanction.activity.TabSanctionActivity"
            android:label="@string/sanction_title_tab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_adm.navigation.ui.NavigationAdmActivity" />
        </activity>
        <activity
            android:name=".main_adm.fixture.activity.TabFixtureActivity"
            android:label="@string/fixture_title_tab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_adm.navigation.ui.NavigationAdmActivity" />
        </activity>
        <activity
            android:name=".main_adm.tournament.ui.TournamentActivity"
            android:label="@string/tournament_title_tab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_adm.navigation.ui.NavigationAdmActivity" />
        </activity>
        <activity
            android:name=".main_adm.PruebaActivity"
            android:label="@string/title_activity_prueba"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>